{% extends 'TodoList/base.html' %}
{% load static %}
{% block title %}
    To-do-list
{% endblock %}

{% block body %}

    <div class="row justify-content-md-center">

        <div class="col-lg-8">
            <h1 class="display-4 text-center">TO-DO-LIST</h1>
            <form action="{% url 'todo_delete' todo.id %}" method="post">
                {% csrf_token %}
                <div class="card">
                    <h5 class="card-header">Delete Task</h5>
                    <div class="card-body">
                        <h3>
                            Are you sure that you want to delete
                            <span class="pill">{{ todo.task_item_db }}</span>?
                        </h3>

                        <a href="{% url 'todo_index' %}" class="btn btn-info">No, go back</a>
                        <button type="submit" class="btn btn-danger" value="delete">Yes, delete!</button>
                    </div>
                </div>

            </form>

        </div>
    </div>


{% endblock %}